{% extends 'base.html' %}
{% block title %}Login page{% endblock %}

{% block contents %} 
<main class="form-signin">
    {% if form.errors %}
      <p style="color: red">メールアドレスとパスワードが一致しません。</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <h1>要支援者ログイン</h1>
      
      <label for="Email" class="visually-hidden">
        メールアドレス</label>
      
      <input type="email"
             name="username"  {# ここは'email'に**変更しない**方が安全です（理由後述） #}
             id="id_username" {# ここも'id_email'に**変更しない**方が安全です #}
             maxlength="254"
             autocapitalize="none"
             autocomplete="email"  {# autocompleteをemailに変更 #}
             class="form-control"
             placeholder="メールアドレス" {# プレースホルダーをメールアドレスに変更 #}
             required autofocus>
      
      <br>
      <label for="Password" class="visually-hidden">
        パスワード</label>
      <input type="password"
             name="password"
             id="id_password"
             autocomplete="current-password"
             class="form-control"
             placeholder="パスワード"
             required>
      <br>
      <button class="btn_02"
              type="submit">ログイン</button>
      
      <br><br>
      <p><a class="btn_03" href="{% url "password_reset" %}" >パスワードを忘れましたか?</a><p>
      <input type="hidden"
             name="next"
             value="{% url 'main:index' %}">
    </form>
  </main> 
{% endblock %}