{% extends 'base.html' %}
{% block title %}マイページ{% endblock %}

    {% block contents %}

    {% if user.is_authenticated %}
        <br>
        <div style="text-align:center">
            <h4>{{ user.username }}さんのマイページ</h4>
            {% if object_list.count == 0 %}
                <p>{{ user.username }}さんの投稿はありません</p>
            {% else %}
                <p>投稿<strong>{{ object_list.count }}</strong>件</p>
            {% endif %}
            
            <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px; margin-bottom: 20px;">
                <a href="{% url 'enright:activity_post' %}" class="btn_01">活動情報投稿</a>
                <a href="{% url 'enright:lecture_post' %}" class="btn_01">講義情報投稿</a>
                <a href="{% url 'enright:disaster_post' %}" class="btn_01">災害対策情報投稿</a>
            </div>
            </div>
        <hr>
    {% endif %}

    {% include "photos_list.html" %}

    {% include "pagination.html" %}

    {% endblock %}